.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  display: table;
  transition: opacity .4s ease-in-out;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease-in-out;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-header {
  background-color: #1867c0;
  text-align: left;
}

.modal-header h3 {
  margin-top: 0;
  color: #ffffff;
}

.modal-header .text-title {
  font-size: 30px;
  color: #ffffff;
}


.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 1;
}

.modal-leave-active {
  opacity: 1;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform:translateY(100%);
  transform:translateY(100%);
}

.icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  font-size: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
  vertical-align: middle;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.btn--icon {
  background: transparent;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 0;
  width: 36px;
}

.btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 36px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 6px 8px;
  min-width: 88px;
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1),color 1ms;
  transition: .3s cubic-bezier(.25,.8,.5,1),color 1ms;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}
.primary {
  background-color: #1867c0 !important;
  border-color: #1867c0 !important;
}

.btn__content {
  color: #fff;
}


//dialog2
.modal-mask2 {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper2 {
  display: table-cell;
  vertical-align: middle;
}

.modal-container2 {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header2 h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body2 {
  margin: 20px 0;
}

.modal-default-button2 {
  float: right;
}

.modal-enter2 {
  opacity: 0;
}

.modal-leave-active2 {
  opacity: 0;
}

.modal-enter2 .modal-container2,
.modal-leave-active2 .modal-container2 {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

