.section-user-add {
  display: inline-block;
  float: left;
  border: 2px rebeccapurple solid;
  margin: 20px 20px 20px 20px;
  height: auto;
  width: 400px;
  height: auto;

  .md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  
}
