<!--<link rel="stylesheet" href="path/to/vue-material.css">-->
<!--<script src="./AddUser.js"></script>-->

<div class="section-user-add" style="">
  <h3>Add New User</h3>

  <div class="form">
    <md-field>
      <label>Name</label>
      <md-input v-model="userAdd.name" autofocus></md-input>
    </md-field>

    <div>
      <label>Birth year</label>
      <md-datepicker v-model="userAdd.selectedDate" :md-disabled-dates="disabledDates" />
    </div>
  </div>

  <div>
    <md-button class="md-raised md-primary" @click="cancel">Cancel</md-button>
    <md-button class="md-raised md-primary" @click="addUser">Add User</md-button>
  </div>
</div>
