<!--<link rel="stylesheet" href="path/to/vue-material.css">-->
<!--<script src="./AddUser.js"></script>-->

<div class="section-user-add">
  <h3>Add New User</h3>

  <!-- md-size-50 md-small-size-100 -->
  <form novalidate class="md-layout" @submit.prevent="validateUser">
      <md-card class="md-layout-item">
        <!-- <md-card-header>
          <div class="md-title">Users</div>
        </md-card-header> -->

        <md-card-content>
          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('firstName')">
                <label for="first-name">Name</label>
                <md-input name="first-name" id="first-name" autocomplete="given-name" v-model="form.firstName" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.firstName.required">The first name is required</span>
                <span class="md-error" v-else-if="!$v.form.firstName.minlength">Invalid first name</span>
              </md-field>
            </div>

          </div>

          <div class="md-layout md-gutter">
            <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('gender')">
                <label for="gender">Gender</label>
                <md-select name="gender" id="gender" v-model="form.gender" md-dense :disabled="sending">
                  <md-option></md-option>
                  <md-option value="M">Male</md-option>
                  <md-option value="F">Female</md-option>
                </md-select>
                <span class="md-error">The gender is required</span>
              </md-field>
            </div>

            <!-- <div class="md-layout-item md-small-size-100">
              <md-field :class="getValidationClass('age')">
                <label for="age">Age</label>
                <md-input type="number" id="age" name="age" autocomplete="age" v-model="form.age" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.age.required">The age is required</span>
                <span class="md-error" v-else-if="!$v.form.age.maxlength">Invalid age</span>
              </md-field>
            </div> -->
          </div>

          <!-- <md-field :class="getValidationClass('email')">
            <label for="email">Email</label>
            <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" />
            <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
            <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
          </md-field> -->
        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending" />

        <md-card-actions>
          <md-button class="md-raised md-primary" @click="renew">Renew</md-button>
          <md-button type="submit" class="md-raised md-primary" :disabled="sending">Add User</md-button>
        </md-card-actions>
      </md-card>

      <md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>
    </form>

  <div class="form">

    <!-- <div>
      <label>Birth year</label>
      <md-datepicker v-model="userAdd.selectedDate" :disable-passed-days="true"/>
    </div> -->
  </div>

  <!-- <div class="card">
    <div class="row">
      <span>Event datetime：</span>
      <md-datepicker type="datetime" :model.sync="starttime" :options="option" :limit="limit"></md-datepicker>
    </div>
    <div class="row">
      <span>Event  all day：</span>
      <md-datepicker type="date" :model.sync="endtime" :options="option"></md-datepicker>
    </div>
    <div class="row">
      <span>time：</span>
      <md-datepicker type="date" :model.sync="testTime" :options="timeoption"></md-datepicker>
    </div>
  </div>
  <div class="test">
    Departure Date:{{starttime}}
    <br> Return Date：{{endtime}}
    <br> test Date：{{testTime}}
  </div> -->

</div>
